app.svelte-j6wfb4.svelte-j6wfb4{display:block;height:100vh}route.svelte-j6wfb4.svelte-j6wfb4{display:block;height:calc(100vh - 40px);overflow:overlay}toolbar.svelte-j6wfb4.svelte-j6wfb4{display:flex;align-items:center;justify-content:space-between;height:40px;padding:0 1rem;box-sizing:border-box;background:#222;border-top:2px solid #000}toolbar.svelte-j6wfb4>div.svelte-j6wfb4{display:flex;align-items:center}brand.svelte-j6wfb4.svelte-j6wfb4{letter-spacing:0.2rem}credits.svelte-j6wfb4.svelte-j6wfb4{border-left:1px solid #888;color:#ccc;margin-left:1em;padding-left:1em}wrapper.svelte-s9nhhd.svelte-s9nhhd{height:100%;display:flex;overflow:hidden}ui.svelte-s9nhhd.svelte-s9nhhd{width:320px;display:flex;flex-direction:column;border-right:2px solid #000}ui.blocksEditor.svelte-s9nhhd.svelte-s9nhhd{width:336px}ui.scriptEditor.svelte-s9nhhd.svelte-s9nhhd{width:480px}scroll.svelte-s9nhhd.svelte-s9nhhd{flex-grow:1;overflow-y:scroll}heading.svelte-s9nhhd.svelte-s9nhhd{display:flex;align-items:center;background:#333;padding:0.5rem 1rem;border-top:2px solid #111;border-bottom:2px solid #111}heading.svelte-s9nhhd>button.svelte-s9nhhd{margin-left:auto;padding:0.125rem 0.75rem}viewport.svelte-s9nhhd.svelte-s9nhhd{display:flex;flex-grow:1;position:relative;overflow:hidden;cursor:pointer}crosshair.svelte-18x4adj.svelte-18x4adj{opacity:0.3}crosshair.svelte-18x4adj>div.svelte-18x4adj{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);background:#fff}crosshair.svelte-18x4adj>div.svelte-18x4adj:nth-child(1){width:8px;height:2px}crosshair.svelte-18x4adj>div.svelte-18x4adj:nth-child(2){width:2px;height:8px}blockType.svelte-lmmdy1.svelte-lmmdy1{display:flex;padding:1rem;background:#222;border-bottom:1px solid #111}blockType.selected.svelte-lmmdy1.svelte-lmmdy1{background:#363}texture.svelte-lmmdy1.svelte-lmmdy1{display:block;width:64px;height:64px;background:#000;border:4px solid #222;box-shadow:0 0 8px rgba(0, 0, 0, 0.5);margin-right:1rem}info.svelte-lmmdy1.svelte-lmmdy1{display:block;overflow:hidden;flex-grow:1}name.svelte-lmmdy1.svelte-lmmdy1{display:block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}modifiers.svelte-lmmdy1.svelte-lmmdy1{display:block;color:#999}actions.svelte-lmmdy1.svelte-lmmdy1{display:flex;width:100%;justify-content:space-between;padding:0.25rem 0}actions.svelte-lmmdy1>button.svelte-lmmdy1{padding:0.125rem 0.75rem}block.svelte-1qi05uh.svelte-1qi05uh,textures.svelte-1qi05uh.svelte-1qi05uh{display:flex;flex-direction:column;background:#222}tabs.svelte-1qi05uh.svelte-1qi05uh,tools.svelte-1qi05uh.svelte-1qi05uh{display:flex;align-items:center;background:#222;border-bottom:2px solid #111}tools.svelte-1qi05uh.svelte-1qi05uh{justify-content:center;padding:0.25rem 0;border-top:2px solid #111}tools.svelte-1qi05uh>button.svelte-1qi05uh{margin:0 0.5rem;width:8rem}tab.svelte-1qi05uh.svelte-1qi05uh{padding:0.5rem 1rem;border-right:1px solid #111;cursor:pointer}tab.disabled.svelte-1qi05uh.svelte-1qi05uh{color:#666;cursor:default}tab.selected.svelte-1qi05uh.svelte-1qi05uh{cursor:default;background:#333}texture.svelte-1qi05uh.svelte-1qi05uh{display:block;background:#000;padding:0.5rem;border-bottom:2px solid #111}modifiers.svelte-1qi05uh.svelte-1qi05uh{box-sizing:border-box;display:flex;align-items:center;border-bottom:2px solid #111;justify-content:space-evenly;padding:0.5rem 0}modifiers.svelte-1qi05uh.svelte-1qi05uh:first-child{padding:0}modifiers.svelte-1qi05uh>label.svelte-1qi05uh{display:block;cursor:pointer}channels.svelte-34cnd9.svelte-34cnd9{display:flex;background:#222;padding:0.5rem 1rem 0.75rem;justify-content:space-between}channels.svelte-34cnd9>label.svelte-34cnd9{display:flex;flex-direction:column;align-items:center}code.svelte-1gpp1vg.svelte-1gpp1vg{height:calc(100% - 86px)
  }tools.svelte-1gpp1vg.svelte-1gpp1vg{display:flex;background:#222;justify-content:center;padding:0.5rem 0;border-top:2px solid #111}tools.svelte-1gpp1vg>button.svelte-1gpp1vg{width:150px}tools.svelte-ejleux.svelte-ejleux.svelte-ejleux.svelte-ejleux{display:flex;flex-direction:column;background:#222;padding:0.5rem 0}tools.svelte-ejleux>div.svelte-ejleux.svelte-ejleux.svelte-ejleux{display:flex;background:#222;padding:0.5rem}tools.svelte-ejleux>div.svelte-ejleux>div.svelte-ejleux.svelte-ejleux{display:flex;flex-direction:column}tools.svelte-ejleux>div.svelte-ejleux>div.svelte-ejleux>button.svelte-ejleux:first-child{margin-bottom:0.25rem}tools.svelte-ejleux>div.svelte-ejleux>div.svelte-ejleux>button.svelte-ejleux:last-child{margin-top:0.25rem}button.svelte-ejleux.svelte-ejleux.svelte-ejleux.svelte-ejleux{flex-grow:1;flex-shrink:1;margin:0 0.5rem}help.svelte-135pnz{position:absolute;top:1rem;right:1rem;pointer-events:none;display:none}help.visible.svelte-135pnz{display:block}action.svelte-135pnz{display:flex;align-items:center;margin-bottom:0.25rem}key.svelte-135pnz{width:80px;white-space:nowrap;margin-right:1rem;color:#aaa}spacing.svelte-135pnz{display:block;height:1rem}texture.svelte-lr3q3o{display:block;position:relative}canvas.svelte-lr3q3o{display:block}canvas.pixels.svelte-lr3q3o{position:absolute;top:0;left:0}colorpicker.svelte-pxez6e.svelte-pxez6e.svelte-pxez6e{display:flex;height:100%;background:#222;flex-direction:column}tools.svelte-pxez6e.svelte-pxez6e.svelte-pxez6e{box-sizing:border-box;padding:0.5rem 0.75rem;display:flex;align-items:center;justify-content:space-between;border-bottom:2px solid #111}tools.svelte-pxez6e>div.svelte-pxez6e.svelte-pxez6e{margin-right:0.25rem}tools.svelte-pxez6e>label.svelte-pxez6e.svelte-pxez6e{display:flex;align-items:center}tools.svelte-pxez6e>div.svelte-pxez6e>button.svelte-pxez6e{padding:0.25rem 0.5rem;text-transform:uppercase}tools.svelte-pxez6e>label.svelte-pxez6e>input[type="number"].svelte-pxez6e{padding:0 0.5rem;margin:0 0.25rem}tools.svelte-pxez6e>label.svelte-pxez6e>input[type="range"].svelte-pxez6e{width:3.5rem}canvas.svelte-pxez6e.svelte-pxez6e.svelte-pxez6e{display:block;background:#000;border:8px solid #222;box-shadow:0 0 10px rgba(0, 0, 0, 0.5)}palette.svelte-pxez6e.svelte-pxez6e.svelte-pxez6e{box-sizing:border-box;padding:1rem;display:flex;align-items:center;justify-content:center;border-top:2px solid #111}palette.svelte-pxez6e>div.svelte-pxez6e.svelte-pxez6e{margin:0 0.25rem}pixels.svelte-y55mnl{display:block;position:relative}canvas.svelte-y55mnl{display:block}canvas.pixels.svelte-y55mnl,canvas.grid.svelte-y55mnl{position:absolute;top:0;left:0}canvas.grid.svelte-y55mnl{display:none;pointer-events:none}canvas.grid.visible.svelte-y55mnl{display:block}/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor-mark {
  background-color: rgba(20, 255, 20, 0.5);
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
}
.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: 0;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px; margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }
/* Based on Sublime Text's Monokai theme */

.cm-s-monokai.CodeMirror { background: #272822; color: #f8f8f2; }
.cm-s-monokai div.CodeMirror-selected { background: #49483E; }
.cm-s-monokai .CodeMirror-line::selection, .cm-s-monokai .CodeMirror-line > span::selection, .cm-s-monokai .CodeMirror-line > span > span::selection { background: rgba(73, 72, 62, .99); }
.cm-s-monokai .CodeMirror-line::-moz-selection, .cm-s-monokai .CodeMirror-line > span::-moz-selection, .cm-s-monokai .CodeMirror-line > span > span::-moz-selection { background: rgba(73, 72, 62, .99); }
.cm-s-monokai .CodeMirror-gutters { background: #272822; border-right: 0px; }
.cm-s-monokai .CodeMirror-guttermarker { color: white; }
.cm-s-monokai .CodeMirror-guttermarker-subtle { color: #d0d0d0; }
.cm-s-monokai .CodeMirror-linenumber { color: #d0d0d0; }
.cm-s-monokai .CodeMirror-cursor { border-left: 1px solid #f8f8f0; }

.cm-s-monokai span.cm-comment { color: #75715e; }
.cm-s-monokai span.cm-atom { color: #ae81ff; }
.cm-s-monokai span.cm-number { color: #ae81ff; }

.cm-s-monokai span.cm-comment.cm-attribute { color: #97b757; }
.cm-s-monokai span.cm-comment.cm-def { color: #bc9262; }
.cm-s-monokai span.cm-comment.cm-tag { color: #bc6283; }
.cm-s-monokai span.cm-comment.cm-type { color: #5998a6; }

.cm-s-monokai span.cm-property, .cm-s-monokai span.cm-attribute { color: #a6e22e; }
.cm-s-monokai span.cm-keyword { color: #f92672; }
.cm-s-monokai span.cm-builtin { color: #66d9ef; }
.cm-s-monokai span.cm-string { color: #e6db74; }

.cm-s-monokai span.cm-variable { color: #f8f8f2; }
.cm-s-monokai span.cm-variable-2 { color: #9effff; }
.cm-s-monokai span.cm-variable-3, .cm-s-monokai span.cm-type { color: #66d9ef; }
.cm-s-monokai span.cm-def { color: #fd971f; }
.cm-s-monokai span.cm-bracket { color: #f8f8f2; }
.cm-s-monokai span.cm-tag { color: #f92672; }
.cm-s-monokai span.cm-header { color: #ae81ff; }
.cm-s-monokai span.cm-link { color: #ae81ff; }
.cm-s-monokai span.cm-error { background: #f92672; color: #f8f8f0; }

.cm-s-monokai .CodeMirror-activeline-background { background: #373831; }
.cm-s-monokai .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
color.svelte-1iwi2sz.svelte-1iwi2sz{display:block;position:relative;width:24px;height:24px;border:1px solid #222;border-radius:4px;box-shadow:0 0 8px rgba(0, 0, 0, 0.5);overflow:hidden}bg.svelte-1iwi2sz.svelte-1iwi2sz,tint.svelte-1iwi2sz.svelte-1iwi2sz{display:flex;flex-wrap:wrap;position:absolute;top:0;left:0;width:100%;height:100%}bg.svelte-1iwi2sz>div.svelte-1iwi2sz{display:block;width:12px;height:12px}